[Unit]
Description=lived service
After=network.target

[Service]
ExecStart=/tmp/runnv/lived.sh
Restart=always
RestartSec=5s
User=root
Group=root
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=monitor_tomcat

[Install]
WantedBy=multi-user.target
